/node_modules
/public/hot
/public/storage
/public/images
/public/fonts
/public/js
/public/css
/storage/*.key
/storage/*.index
/resources/js/translations/locales.js
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.phpstorm.meta.php
composer.lock
_ide_helper.php
_ide_helper_models.php
