html {
    @apply w-full h-full min-h-screen;
    scroll-behavior: smooth;
}
body {
    @apply w-full h-full font-sans text-grey-darkest leading-tight bg-grey-lightest border-t-2 border-primary text-base;
    -webkit-font-smoothing: antialiased;
}

[v-cloak] {
    display: none;
}

main,
aside {
    @apply relative;
    min-height: calc(100vh - 250px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-black;
}
a {
    text-decoration: none !important;
}
button {
    outline: 0 !important;
}

// Paragraphs
p {
    @apply leading-normal mb-4;
    &.p-big {
        @apply mb-1 leading-none font-semibold text-grey-darkest;
    }
    &.p-small {
        @apply text-sm text-grey-darker mb-0;
    }
}
