.slide-enter-active,
.slide-leave-active {
    @include transition(opacity, transform);
}
.slide-enter,
.slide-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    @include transition(opacity);
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-shrink-in-enter-active,
.fade-shrink-in-leave-active {
    @include transition(opacity, transform);
}

.fade-shrink-in-enter,
.fade-shrink-in-leave-to {
    opacity: 0;
    transform: scale(1.1);
}

.list-item {
    display: block;
}
.list-enter-active,
.list-leave-active {
    transition: opacity 1s ease, transform 1s ease;
}
.list-enter,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

.toasted.bubble.info {
    background-color: var(--accent) !important;
}
.toasted-container .toasted.confirm-action {
    @apply text-white bg-accent flex items-center;
    a.action {
        @apply text-white relative font-bold;
        top: 2px;

        &:last-of-type {
            @apply text-grey-lighter font-semibold;
        }
    }
}
