.slide-enter-active,
.slide-leave-active {
    @include transition(opacity, transform);
}
.slide-enter,
.slide-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    @include transition(opacity);
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
