.row {
    .col-product {
        @apply w-1/2;

        @screen md {
            @apply w-1/3;
        }

        @screen lg {
            @apply w-1/4;
        }
    }

    &.has-sidebar {
        .col-product {
            @apply w-full;

            @screen md {
                @apply w-1/2;
            }

            @screen lg {
                @apply w-1/3;
            }
        }
    }
}

.product-card {
    @apply overflow-hidden relative mb-6;
    .product-image {
        @apply w-full text-center overflow-hidden rounded-t relative;
        height: $product-image-height;
        img {
            @apply w-full object-cover;
            height: $product-image-height;
        }
        .badge {
            @apply truncate rounded absolute shadow;
            right: 5px;
            top: 5px;
            max-width: 125px;
        }
    }
    .product-data {
        @apply relative px-4 pt-2;
        .badge {
            @apply absolute;
            top: -15px;
            right: 5px;
        }
        h3 {
            @apply text-left text-base font-normal text-grey-darkest pt-2 tracking-tight cursor-pointer;
        }
    }
    .product-price {
        @apply py-2 px-4;
        .price {
            @apply text-grey-darkest font-bold mb-0 text-xl;
        }
        .price-excl-vat {
            @apply text-xs text-grey-darker mb-0;
        }
    }
    .product-stock {
        @apply px-4 text-xs mb-4;
    }
    .product-actions {
        @apply text-center py-3 bg-grey-lightest;

        &:hover {
        }
    }
}

.product-gallery {
    .thumbs {
        @apply mr-4 w-full flex flex-wrap justify-center;
        .product-thumb {
            @apply mr-2 overflow-hidden w-16;

            img {
                @apply border-2 border-transparent;
                @include transition(border-color);
            }

            &:last-of-type {
                @apply mr-0;
            }

            &.active {
                img {
                    @apply border-primary;
                }
            }
        }
    }
}
